# Veri Çerçevesinde Seçim Yapma

In [7]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("iris.csv")

df

In [2]:
df["SepalLengthCm"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [3]:
type(df["SepalLengthCm"])

pandas.core.series.Series

In [4]:
df[["SepalLengthCm"]]

     SepalLengthCm
0              5.1
1              4.9
2              4.7
3              4.6
4              5.0
..             ...
145            6.7
146            6.3
147            6.5
148            6.2
149            5.9

[150 rows x 1 columns]

In [5]:
type(df[["SepalLengthCm"]])

pandas.core.frame.DataFrame

In [6]:
df[["SepalLengthCm", "SepalWidthCm"]]

     SepalLengthCm  SepalWidthCm
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
..             ...           ...
145            6.7           3.0
146            6.3           2.5
147            6.5           3.0
148            6.2           3.4
149            5.9           3.0

[150 rows x 2 columns]

In [11]:
sutunlar = ["acilis", "en_dusuk", "en_yuksek", "kapanis"]
satirlar = [
    "ABC",
    "DEF",
    "KLM",
    "IJK",
    "RTF",
    "VBN",
    "XYZ",
    "PLK",
    "CVB",
    "ZAQ",
    "MHK",
    "SDC",
]
degerler = np.array(
    [
        10762,
        32.5,
        12638,
        33.5,
        13689,
        35.2,
        18414,
        37.4,
        10688,
        12.3,
        14348,
        13.2,
        15924,
        15.3,
        15243,
        17.9,
        14841,
        24.7,
        14966,
        22.1,
        13098,
        19.3,
        17439,
        15.4,
        15607,
        18.6,
        16166,
        13.4,
        10627,
        15.1,
        13396,
        15.3,
        12565,
        20.3,
        17469,
        21.4,
        18964,
        22.5,
        15187,
        23.6,
        13203,
        7.2,
        10629,
        7.2,
        15239,
        8.2,
        18307,
        9.1,
    ]
)
veriler = np.reshape(degerler, (12, 4))
hisseler = pd.DataFrame(veriler, index=satirlar, columns=sutunlar)
hisseler

      acilis  en_dusuk  en_yuksek  kapanis
ABC  10762.0      32.5    12638.0     33.5
DEF  13689.0      35.2    18414.0     37.4
KLM  10688.0      12.3    14348.0     13.2
IJK  15924.0      15.3    15243.0     17.9
RTF  14841.0      24.7    14966.0     22.1
VBN  13098.0      19.3    17439.0     15.4
XYZ  15607.0      18.6    16166.0     13.4
PLK  10627.0      15.1    13396.0     15.3
CVB  12565.0      20.3    17469.0     21.4
ZAQ  18964.0      22.5    15187.0     23.6
MHK  13203.0       7.2    10629.0      7.2
SDC  15239.0       8.2    18307.0      9.1

In [12]:
hisseler.loc["KLM"]

acilis       10688.0
en_dusuk        12.3
en_yuksek    14348.0
kapanis         13.2
Name: KLM, dtype: float64

In [13]:
type(hisseler.loc["KLM"])

pandas.core.series.Series

In [14]:
hisseler.loc[["KLM"]]

      acilis  en_dusuk  en_yuksek  kapanis
KLM  10688.0      12.3    14348.0     13.2

In [15]:
hisseler.loc[["KLM", "MHK"]]

      acilis  en_dusuk  en_yuksek  kapanis
KLM  10688.0      12.3    14348.0     13.2
MHK  13203.0       7.2    10629.0      7.2

In [16]:
hisseler["kapanis"]["DEF"]

37.4

In [17]:
hisseler.kapanis["DEF"]

37.4

In [18]:
hisseler.loc[["XYZ", "VBN"], ["en_dusuk", "en_yuksek"]]

     en_dusuk  en_yuksek
XYZ      18.6    16166.0
VBN      19.3    17439.0

In [19]:
hisseler.loc["DEF", "kapanis"]

37.4

In [20]:
hisseler[["en_dusuk", "en_yuksek"]]

     en_dusuk  en_yuksek
ABC      32.5    12638.0
DEF      35.2    18414.0
KLM      12.3    14348.0
IJK      15.3    15243.0
RTF      24.7    14966.0
VBN      19.3    17439.0
XYZ      18.6    16166.0
PLK      15.1    13396.0
CVB      20.3    17469.0
ZAQ      22.5    15187.0
MHK       7.2    10629.0
SDC       8.2    18307.0

In [21]:
hisseler.loc[:, ["en_dusuk", "en_yuksek"]]

     en_dusuk  en_yuksek
ABC      32.5    12638.0
DEF      35.2    18414.0
KLM      12.3    14348.0
IJK      15.3    15243.0
RTF      24.7    14966.0
VBN      19.3    17439.0
XYZ      18.6    16166.0
PLK      15.1    13396.0
CVB      20.3    17469.0
ZAQ      22.5    15187.0
MHK       7.2    10629.0
SDC       8.2    18307.0

In [22]:
hisseler.iloc[1]

acilis       13689.0
en_dusuk        35.2
en_yuksek    18414.0
kapanis         37.4
Name: DEF, dtype: float64

In [23]:
hisseler.iloc[[1]]

      acilis  en_dusuk  en_yuksek  kapanis
DEF  13689.0      35.2    18414.0     37.4

In [27]:
hisseler.iloc[1, 3]

37.4

In [26]:
hisseler.iloc[[1, 3]]

      acilis  en_dusuk  en_yuksek  kapanis
DEF  13689.0      35.2    18414.0     37.4
IJK  15924.0      15.3    15243.0     17.9

In [28]:
hisseler.iloc[1, 2, 3]

IndexingError: Too many indexers

In [29]:
hisseler.iloc[[1, 2, 3]]

      acilis  en_dusuk  en_yuksek  kapanis
DEF  13689.0      35.2    18414.0     37.4
KLM  10688.0      12.3    14348.0     13.2
IJK  15924.0      15.3    15243.0     17.9

In [30]:
hisseler.iloc[[1, 2, 3], [0, 3]]

      acilis  kapanis
DEF  13689.0     37.4
KLM  10688.0     13.2
IJK  15924.0     17.9

In [31]:
hisseler["kapanis"][0:4]

ABC    33.5
DEF    37.4
KLM    13.2
IJK    17.9
Name: kapanis, dtype: float64

In [33]:
hisseler.iloc[[0, 1, 2, 3], [3]]

     kapanis
ABC     33.5
DEF     37.4
KLM     13.2
IJK     17.9

In [35]:
hisseler.iloc[0:4, 3]

ABC    33.5
DEF    37.4
KLM    13.2
IJK    17.9
Name: kapanis, dtype: float64

In [34]:
hisseler.loc["ABC":"RTF", "en_dusuk":"kapanis"]

     en_dusuk  en_yuksek  kapanis
ABC      32.5    12638.0     33.5
DEF      35.2    18414.0     37.4
KLM      12.3    14348.0     13.2
IJK      15.3    15243.0     17.9
RTF      24.7    14966.0     22.1

In [40]:
hisseler[0:5]

      acilis  en_dusuk  en_yuksek  kapanis
ABC  10762.0      32.5    12638.0     33.5
DEF  13689.0      35.2    18414.0     37.4
KLM  10688.0      12.3    14348.0     13.2
IJK  15924.0      15.3    15243.0     17.9
RTF  14841.0      24.7    14966.0     22.1

In [41]:
for i in hisseler:
    print(i)

acilis
en_dusuk
en_yuksek
kapanis

In [42]:
for hisse, satir in hisseler.iterrows():
    print(hisse)
    print(satir)

ABC
acilis       10762.0
en_dusuk        32.5
en_yuksek    12638.0
kapanis         33.5
Name: ABC, dtype: float64
DEF
acilis       13689.0
en_dusuk        35.2
en_yuksek    18414.0
kapanis         37.4
Name: DEF, dtype: float64
KLM
acilis       10688.0
en_dusuk        12.3
en_yuksek    14348.0
kapanis         13.2
Name: KLM, dtype: float64
IJK
acilis       15924.0
en_dusuk        15.3
en_yuksek    15243.0
kapanis         17.9
Name: IJK, dtype: float64
RTF
acilis       14841.0
en_dusuk        24.7
en_yuksek    14966.0
kapanis         22.1
Name: RTF, dtype: float64
VBN
acilis       13098.0
en_dusuk        19.3
en_yuksek    17439.0
kapanis         15.4
Name: VBN, dtype: float64
XYZ
acilis       15607.0
en_dusuk        18.6
en_yuksek    16166.0
kapanis         13.4
Name: XYZ, dtype: float64
PLK
acilis       10627.0
en_dusuk        15.1
en_yuksek    13396.0
kapanis         15.3
Name: PLK, dtype: float64
CVB
acilis       12565.0
en_dusuk        20.3
en_yuksek    17469.0
kapanis         21.4
Name: CVB, dtype: float64
ZAQ
acilis       18964.0
en_dusuk        22.5
en_yuksek    15187.0
kapanis         23.6
Name: ZAQ, dtype: float64
MHK
acilis       13203.0
en_dusuk         7.2
en_yuksek    10629.0
kapanis          7.2
Name: MHK, dtype: float64
SDC
acilis       15239.0
en_dusuk         8.2
en_yuksek    18307.0
kapanis          9.1
Name: SDC, dtype: float64

In [43]:
for hisse, satir in hisseler.iterrows():
    print(hisse+" : "+str(satir["kapanis"]))

ABC : 33.5
DEF : 37.4
KLM : 13.2
IJK : 17.9
RTF : 22.1
VBN : 15.4
XYZ : 13.4
PLK : 15.3
CVB : 21.4
ZAQ : 23.6
MHK : 7.2
SDC : 9.1

In [44]:
for hisse, satir in hisseler.iterrows():
    hisseler.loc[hisse,"gunluk_fark"] = satir["kapanis"] - satir["acilis"]

hisseler

      acilis  en_dusuk  en_yuksek  kapanis  gunluk_fark
ABC  10762.0      32.5    12638.0     33.5     -10728.5
DEF  13689.0      35.2    18414.0     37.4     -13651.6
KLM  10688.0      12.3    14348.0     13.2     -10674.8
IJK  15924.0      15.3    15243.0     17.9     -15906.1
RTF  14841.0      24.7    14966.0     22.1     -14818.9
VBN  13098.0      19.3    17439.0     15.4     -13082.6
XYZ  15607.0      18.6    16166.0     13.4     -15593.6
PLK  10627.0      15.1    13396.0     15.3     -10611.7
CVB  12565.0      20.3    17469.0     21.4     -12543.6
ZAQ  18964.0      22.5    15187.0     23.6     -18940.4
MHK  13203.0       7.2    10629.0      7.2     -13195.8
SDC  15239.0       8.2    18307.0      9.1     -15229.9

In [45]:
hisseler["gunluk_fark2"] = hisseler["kapanis"] - hisseler["acilis"]
hisseler

      acilis  en_dusuk  en_yuksek  kapanis  gunluk_fark  gunluk_fark2
ABC  10762.0      32.5    12638.0     33.5     -10728.5      -10728.5
DEF  13689.0      35.2    18414.0     37.4     -13651.6      -13651.6
KLM  10688.0      12.3    14348.0     13.2     -10674.8      -10674.8
IJK  15924.0      15.3    15243.0     17.9     -15906.1      -15906.1
RTF  14841.0      24.7    14966.0     22.1     -14818.9      -14818.9
VBN  13098.0      19.3    17439.0     15.4     -13082.6      -13082.6
XYZ  15607.0      18.6    16166.0     13.4     -15593.6      -15593.6
PLK  10627.0      15.1    13396.0     15.3     -10611.7      -10611.7
CVB  12565.0      20.3    17469.0     21.4     -12543.6      -12543.6
ZAQ  18964.0      22.5    15187.0     23.6     -18940.4      -18940.4
MHK  13203.0       7.2    10629.0      7.2     -13195.8      -13195.8
SDC  15239.0       8.2    18307.0      9.1     -15229.9      -15229.9