# PANDAS

In [2]:
import pandas as pd

pandas_seri = pd.Series([5, 7, 3, 10, 8, 6])
pandas_seri

0     5
1     7
2     3
3    10
4     8
5     6
dtype: int64

In [3]:
type(pandas_seri)

pandas.core.series.Series

In [4]:
pandas_seri = pd.Series([5, 7, 3, 10, 8, 6], index=[
                        'a', 'b', 'c', 'd', 'e', 'f'])
pandas_seri

a     5
b     7
c     3
d    10
e     8
f     6
dtype: int64

In [5]:
pandas_seri['c':'e']

c     3
d    10
e     8
dtype: int64

In [6]:
iris_dict = {
    'Sepal_Length': [5.1, 4.9, 4.7, 4.6, 5.0, 6.7, 6.3, 6.5, 6.2, 5.9],
    'Sepal_Width': [3.5, 3.0, 3.2, 3.1, 3.6, 3.0, 2.5, 3.0, 3.4, 3.0],
    'Petal_Length': [1.4, 1.4, 1.3, 1.5, 1.4, 5.2, 5.0, 5.2, 5.4, 5.1],
    'Petal_Width': [0.2, 0.2, 0.2, 0.2, 0.2, 2.3, 1.9, 2.0, 2.3, 1.8],
    'Species': ['setosa', 'setosa', 'setosa', 'setosa', 'setosa',
                'virginica', 'virginica', 'virginica', 'virginica',
                'virginica']
}

In [8]:
iris = pd.DataFrame(iris_dict)
print(iris)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0           5.1          3.5           1.4          0.2     setosa
1           4.9          3.0           1.4          0.2     setosa
2           4.7          3.2           1.3          0.2     setosa
3           4.6          3.1           1.5          0.2     setosa
4           5.0          3.6           1.4          0.2     setosa
5           6.7          3.0           5.2          2.3  virginica
6           6.3          2.5           5.0          1.9  virginica
7           6.5          3.0           5.2          2.0  virginica
8           6.2          3.4           5.4          2.3  virginica
9           5.9          3.0           5.1          1.8  virginica

In [13]:
Sepal_Length = [5.1, 4.9, 4.7, 4.6, 5.0, 6.7, 6.3, 6.5, 6.2, 5.9]
Sepal_Width = [3.5, 3.0, 3.2, 3.1, 3.6, 3.0, 2.5, 3.0, 3.4, 3.0]
Petal_Length = [1.4, 1.4, 1.3, 1.5, 1.4, 5.2, 5.0, 5.2, 5.4, 5.1]
Petal_Width = [0.2, 0.2, 0.2, 0.2, 0.2, 2.3, 1.9, 2.0, 2.3, 1.8]
Species = ['setosa', 'setosa', 'setosa', 'setosa', 'setosa',
           'virginica', 'virginica', 'virginica', 'virginica', 'virginica']
sutunlar = [Sepal_Length, Sepal_Width, Petal_Length, Petal_Width, Species]
liste_etiketleri = ['Sepal_Length', 'Sepal_Width',
                    'Petal_Length', 'Petal_ Width', 'Species']
zip_veri = list(zip(liste_etiketleri, sutunlar))
print(zip_veri)

[('Sepal_Length', [5.1, 4.9, 4.7, 4.6, 5.0, 6.7, 6.3, 6.5, 6.2, 5.9]), ('Sepal_Width', [3.5, 3.0, 3.2, 3.1, 3.6, 3.0, 2.5, 3.0, 3.4, 3.0]), ('Petal_Length', [1.4, 1.4, 1.3, 1.5, 1.4, 5.2, 5.0, 5.2, 5.4, 5.1]), ('Petal_ Width', [0.2, 0.2, 0.2, 0.2, 0.2, 2.3, 1.9, 2.0, 2.3, 1.8]), ('Species', ['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica'])]

In [14]:
veri = dict(zip_veri)
veri

{'Sepal_Length': [5.1, 4.9, 4.7, 4.6, 5.0, 6.7, 6.3, 6.5, 6.2, 5.9],
 'Sepal_Width': [3.5, 3.0, 3.2, 3.1, 3.6, 3.0, 2.5, 3.0, 3.4, 3.0],
 'Petal_Length': [1.4, 1.4, 1.3, 1.5, 1.4, 5.2, 5.0, 5.2, 5.4, 5.1],
 'Petal_ Width': [0.2, 0.2, 0.2, 0.2, 0.2, 2.3, 1.9, 2.0, 2.3, 1.8],
 'Species': ['setosa',
  'setosa',
  'setosa',
  'setosa',
  'setosa',
  'virginica',
  'virginica',
  'virginica',
  'virginica',
  'virginica']}

In [15]:
iris = pd.DataFrame(veri)
print(iris)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_ Width    Species
0           5.1          3.5           1.4           0.2     setosa
1           4.9          3.0           1.4           0.2     setosa
2           4.7          3.2           1.3           0.2     setosa
3           4.6          3.1           1.5           0.2     setosa
4           5.0          3.6           1.4           0.2     setosa
5           6.7          3.0           5.2           2.3  virginica
6           6.3          2.5           5.0           1.9  virginica
7           6.5          3.0           5.2           2.0  virginica
8           6.2          3.4           5.4           2.3  virginica
9           5.9          3.0           5.1           1.8  virginica

In [16]:
iris['Gözlem No'] = 1
iris

   Sepal_Length  Sepal_Width  Petal_Length  Petal_ Width    Species  Gözlem No
0           5.1          3.5           1.4           0.2     setosa          1
1           4.9          3.0           1.4           0.2     setosa          1
2           4.7          3.2           1.3           0.2     setosa          1
3           4.6          3.1           1.5           0.2     setosa          1
4           5.0          3.6           1.4           0.2     setosa          1
5           6.7          3.0           5.2           2.3  virginica          1
6           6.3          2.5           5.0           1.9  virginica          1
7           6.5          3.0           5.2           2.0  virginica          1
8           6.2          3.4           5.4           2.3  virginica          1
9           5.9          3.0           5.1           1.8  virginica          1

In [17]:
iris = pd.read_csv("iris.csv")
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
type(iris)

pandas.core.frame.DataFrame

In [19]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [21]:
iris.columns = ['Id', 'Taç Boy', 'Taç En', 'Çanak Boy', 'Çanak En', 'Tür']

In [22]:
iris

      Id  Taç Boy  Taç En  Çanak Boy  Çanak En             Tür
0      1      5.1     3.5        1.4       0.2     Iris-setosa
1      2      4.9     3.0        1.4       0.2     Iris-setosa
2      3      4.7     3.2        1.3       0.2     Iris-setosa
3      4      4.6     3.1        1.5       0.2     Iris-setosa
4      5      5.0     3.6        1.4       0.2     Iris-setosa
..   ...      ...     ...        ...       ...             ...
145  146      6.7     3.0        5.2       2.3  Iris-virginica
146  147      6.3     2.5        5.0       1.9  Iris-virginica
147  148      6.5     3.0        5.2       2.0  Iris-virginica
148  149      6.2     3.4        5.4       2.3  Iris-virginica
149  150      5.9     3.0        5.1       1.8  Iris-virginica

[150 rows x 6 columns]

In [23]:
iris.head(10)

   Id  Taç Boy  Taç En  Çanak Boy  Çanak En          Tür
0   1      5.1     3.5        1.4       0.2  Iris-setosa
1   2      4.9     3.0        1.4       0.2  Iris-setosa
2   3      4.7     3.2        1.3       0.2  Iris-setosa
3   4      4.6     3.1        1.5       0.2  Iris-setosa
4   5      5.0     3.6        1.4       0.2  Iris-setosa
5   6      5.4     3.9        1.7       0.4  Iris-setosa
6   7      4.6     3.4        1.4       0.3  Iris-setosa
7   8      5.0     3.4        1.5       0.2  Iris-setosa
8   9      4.4     2.9        1.4       0.2  Iris-setosa
9  10      4.9     3.1        1.5       0.1  Iris-setosa

In [24]:
iris.tail(5)

      Id  Taç Boy  Taç En  Çanak Boy  Çanak En             Tür
145  146      6.7     3.0        5.2       2.3  Iris-virginica
146  147      6.3     2.5        5.0       1.9  Iris-virginica
147  148      6.5     3.0        5.2       2.0  Iris-virginica
148  149      6.2     3.4        5.4       2.3  Iris-virginica
149  150      5.9     3.0        5.1       1.8  Iris-virginica

In [25]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [26]:
iris.shape

(150, 6)

In [28]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         150 non-null    int64
 1   Taç Boy    150 non-null    float64
 2   Taç En     150 non-null    float64
 3   Çanak Boy  150 non-null    float64
 4   Çanak En   150 non-null    float64
 5   Tür        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [30]:
iris_yeni = iris.copy()
iris_yeni

      Id  Taç Boy  Taç En  Çanak Boy  Çanak En             Tür
0      1      5.1     3.5        1.4       0.2     Iris-setosa
1      2      4.9     3.0        1.4       0.2     Iris-setosa
2      3      4.7     3.2        1.3       0.2     Iris-setosa
3      4      4.6     3.1        1.5       0.2     Iris-setosa
4      5      5.0     3.6        1.4       0.2     Iris-setosa
..   ...      ...     ...        ...       ...             ...
145  146      6.7     3.0        5.2       2.3  Iris-virginica
146  147      6.3     2.5        5.0       1.9  Iris-virginica
147  148      6.5     3.0        5.2       2.0  Iris-virginica
148  149      6.2     3.4        5.4       2.3  Iris-virginica
149  150      5.9     3.0        5.1       1.8  Iris-virginica

[150 rows x 6 columns]

In [32]:
np_dizi = iris.values
print(np_dizi)

[[1 5.1 3.5 1.4 0.2 'Iris-setosa']
 [2 4.9 3.0 1.4 0.2 'Iris-setosa']
 [3 4.7 3.2 1.3 0.2 'Iris-setosa']
 [4 4.6 3.1 1.5 0.2 'Iris-setosa']
 [5 5.0 3.6 1.4 0.2 'Iris-setosa']
 [6 5.4 3.9 1.7 0.4 'Iris-setosa']
 [7 4.6 3.4 1.4 0.3 'Iris-setosa']
 [8 5.0 3.4 1.5 0.2 'Iris-setosa']
 [9 4.4 2.9 1.4 0.2 'Iris-setosa']
 [10 4.9 3.1 1.5 0.1 'Iris-setosa']
 [11 5.4 3.7 1.5 0.2 'Iris-setosa']
 [12 4.8 3.4 1.6 0.2 'Iris-setosa']
 [13 4.8 3.0 1.4 0.1 'Iris-setosa']
 [14 4.3 3.0 1.1 0.1 'Iris-setosa']
 [15 5.8 4.0 1.2 0.2 'Iris-setosa']
 [16 5.7 4.4 1.5 0.4 'Iris-setosa']
 [17 5.4 3.9 1.3 0.4 'Iris-setosa']
 [18 5.1 3.5 1.4 0.3 'Iris-setosa']
 [19 5.7 3.8 1.7 0.3 'Iris-setosa']
 [20 5.1 3.8 1.5 0.3 'Iris-setosa']
 [21 5.4 3.4 1.7 0.2 'Iris-setosa']
 [22 5.1 3.7 1.5 0.4 'Iris-setosa']
 [23 4.6 3.6 1.0 0.2 'Iris-setosa']
 [24 5.1 3.3 1.7 0.5 'Iris-setosa']
 [25 4.8 3.4 1.9 0.2 'Iris-setosa']
 [26 5.0 3.0 1.6 0.2 'Iris-setosa']
 [27 5.0 3.4 1.6 0.4 'Iris-setosa']
 [28 5.2 3.5 1.5 0.2 'Iris-setosa']
 [29 5.2 3.4 1.4 0.2 'Iris-setosa']
 [30 4.7 3.2 1.6 0.2 'Iris-setosa']
 [31 4.8 3.1 1.6 0.2 'Iris-setosa']
 [32 5.4 3.4 1.5 0.4 'Iris-setosa']
 [33 5.2 4.1 1.5 0.1 'Iris-setosa']
 [34 5.5 4.2 1.4 0.2 'Iris-setosa']
 [35 4.9 3.1 1.5 0.1 'Iris-setosa']
 [36 5.0 3.2 1.2 0.2 'Iris-setosa']
 [37 5.5 3.5 1.3 0.2 'Iris-setosa']
 [38 4.9 3.1 1.5 0.1 'Iris-setosa']
 [39 4.4 3.0 1.3 0.2 'Iris-setosa']
 [40 5.1 3.4 1.5 0.2 'Iris-setosa']
 [41 5.0 3.5 1.3 0.3 'Iris-setosa']
 [42 4.5 2.3 1.3 0.3 'Iris-setosa']
 [43 4.4 3.2 1.3 0.2 'Iris-setosa']
 [44 5.0 3.5 1.6 0.6 'Iris-setosa']
 [45 5.1 3.8 1.9 0.4 'Iris-setosa']
 [46 4.8 3.0 1.4 0.3 'Iris-setosa']
 [47 5.1 3.8 1.6 0.2 'Iris-setosa']
 [48 4.6 3.2 1.4 0.2 'Iris-setosa']
 [49 5.3 3.7 1.5 0.2 'Iris-setosa']
 [50 5.0 3.3 1.4 0.2 'Iris-setosa']
 [51 7.0 3.2 4.7 1.4 'Iris-versicolor']
 [52 6.4 3.2 4.5 1.5 'Iris-versicolor']
 [53 6.9 3.1 4.9 1.5 'Iris-versicolor']
 [54 5.5 2.3 4.0 1.3 'Iris-versicolor']
 [55 6.5 2.8 4.6 1.5 'Iris-versicolor']
 [56 5.7 2.8 4.5 1.3 'Iris-versicolor']
 [57 6.3 3.3 4.7 1.6 'Iris-versicolor']
 [58 4.9 2.4 3.3 1.0 'Iris-versicolor']
 [59 6.6 2.9 4.6 1.3 'Iris-versicolor']
 [60 5.2 2.7 3.9 1.4 'Iris-versicolor']
 [61 5.0 2.0 3.5 1.0 'Iris-versicolor']
 [62 5.9 3.0 4.2 1.5 'Iris-versicolor']
 [63 6.0 2.2 4.0 1.0 'Iris-versicolor']
 [64 6.1 2.9 4.7 1.4 'Iris-versicolor']
 [65 5.6 2.9 3.6 1.3 'Iris-versicolor']
 [66 6.7 3.1 4.4 1.4 'Iris-versicolor']
 [67 5.6 3.0 4.5 1.5 'Iris-versicolor']
 [68 5.8 2.7 4.1 1.0 'Iris-versicolor']
 [69 6.2 2.2 4.5 1.5 'Iris-versicolor']
 [70 5.6 2.5 3.9 1.1 'Iris-versicolor']
 [71 5.9 3.2 4.8 1.8 'Iris-versicolor']
 [72 6.1 2.8 4.0 1.3 'Iris-versicolor']
 [73 6.3 2.5 4.9 1.5 'Iris-versicolor']
 [74 6.1 2.8 4.7 1.2 'Iris-versicolor']
 [75 6.4 2.9 4.3 1.3 'Iris-versicolor']
 [76 6.6 3.0 4.4 1.4 'Iris-versicolor']
 [77 6.8 2.8 4.8 1.4 'Iris-versicolor']
 [78 6.7 3.0 5.0 1.7 'Iris-versicolor']
 [79 6.0 2.9 4.5 1.5 'Iris-versicolor']
 [80 5.7 2.6 3.5 1.0 'Iris-versicolor']
 [81 5.5 2.4 3.8 1.1 'Iris-versicolor']
 [82 5.5 2.4 3.7 1.0 'Iris-versicolor']
 [83 5.8 2.7 3.9 1.2 'Iris-versicolor']
 [84 6.0 2.7 5.1 1.6 'Iris-versicolor']
 [85 5.4 3.0 4.5 1.5 'Iris-versicolor']
 [86 6.0 3.4 4.5 1.6 'Iris-versicolor']
 [87 6.7 3.1 4.7 1.5 'Iris-versicolor']
 [88 6.3 2.3 4.4 1.3 'Iris-versicolor']
 [89 5.6 3.0 4.1 1.3 'Iris-versicolor']
 [90 5.5 2.5 4.0 1.3 'Iris-versicolor']
 [91 5.5 2.6 4.4 1.2 'Iris-versicolor']
 [92 6.1 3.0 4.6 1.4 'Iris-versicolor']
 [93 5.8 2.6 4.0 1.2 'Iris-versicolor']
 [94 5.0 2.3 3.3 1.0 'Iris-versicolor']
 [95 5.6 2.7 4.2 1.3 'Iris-versicolor']
 [96 5.7 3.0 4.2 1.2 'Iris-versicolor']
 [97 5.7 2.9 4.2 1.3 'Iris-versicolor']
 [98 6.2 2.9 4.3 1.3 'Iris-versicolor']
 [99 5.1 2.5 3.0 1.1 'Iris-versicolor']
 [100 5.7 2.8 4.1 1.3 'Iris-versicolor']
 [101 6.3 3.3 6.0 2.5 'Iris-virginica']
 [102 5.8 2.7 5.1 1.9 'Iris-virginica']
 [103 7.1 3.0 5.9 2.1 'Iris-virginica']
 [104 6.3 2.9 5.6 1.8 'Iris-virginica']
 [105 6.5 3.0 5.8 2.2 'Iris-virginica']
 [106 7.6 3.0 6.6 2.1 'Iris-virginica']
 [107 4.9 2.5 4.5 1.7 'Iris-virginica']
 [108 7.3 2.9 6.3 1.8 'Iris-virginica']
 [109 6.7 2.5 5.8 1.8 'Iris-virginica']
 [110 7.2 3.6 6.1 2.5 'Iris-virginica']
 [111 6.5 3.2 5.1 2.0 'Iris-virginica']
 [112 6.4 2.7 5.3 1.9 'Iris-virginica']
 [113 6.8 3.0 5.5 2.1 'Iris-virginica']
 [114 5.7 2.5 5.0 2.0 'Iris-virginica']
 [115 5.8 2.8 5.1 2.4 'Iris-virginica']
 [116 6.4 3.2 5.3 2.3 'Iris-virginica']
 [117 6.5 3.0 5.5 1.8 'Iris-virginica']
 [118 7.7 3.8 6.7 2.2 'Iris-virginica']
 [119 7.7 2.6 6.9 2.3 'Iris-virginica']
 [120 6.0 2.2 5.0 1.5 'Iris-virginica']
 [121 6.9 3.2 5.7 2.3 'Iris-virginica']
 [122 5.6 2.8 4.9 2.0 'Iris-virginica']
 [123 7.7 2.8 6.7 2.0 'Iris-virginica']
 [124 6.3 2.7 4.9 1.8 'Iris-virginica']
 [125 6.7 3.3 5.7 2.1 'Iris-virginica']
 [126 7.2 3.2 6.0 1.8 'Iris-virginica']
 [127 6.2 2.8 4.8 1.8 'Iris-virginica']
 [128 6.1 3.0 4.9 1.8 'Iris-virginica']
 [129 6.4 2.8 5.6 2.1 'Iris-virginica']
 [130 7.2 3.0 5.8 1.6 'Iris-virginica']
 [131 7.4 2.8 6.1 1.9 'Iris-virginica']
 [132 7.9 3.8 6.4 2.0 'Iris-virginica']
 [133 6.4 2.8 5.6 2.2 'Iris-virginica']
 [134 6.3 2.8 5.1 1.5 'Iris-virginica']
 [135 6.1 2.6 5.6 1.4 'Iris-virginica']
 [136 7.7 3.0 6.1 2.3 'Iris-virginica']
 [137 6.3 3.4 5.6 2.4 'Iris-virginica']
 [138 6.4 3.1 5.5 1.8 'Iris-virginica']
 [139 6.0 3.0 4.8 1.8 'Iris-virginica']
 [140 6.9 3.1 5.4 2.1 'Iris-virginica']
 [141 6.7 3.1 5.6 2.4 'Iris-virginica']
 [142 6.9 3.1 5.1 2.3 'Iris-virginica']
 [143 5.8 2.7 5.1 1.9 'Iris-virginica']
 [144 6.8 3.2 5.9 2.3 'Iris-virginica']
 [145 6.7 3.3 5.7 2.5 'Iris-virginica']
 [146 6.7 3.0 5.2 2.3 'Iris-virginica']
 [147 6.3 2.5 5.0 1.9 'Iris-virginica']
 [148 6.5 3.0 5.2 2.0 'Iris-virginica']
 [149 6.2 3.4 5.4 2.3 'Iris-virginica']
 [150 5.9 3.0 5.1 1.8 'Iris-virginica']]

In [33]:
import numpy as np

dizi = iris.iloc[:, [1, 2, 3, 4]]
dizi_log = np.log(dizi)
print(dizi_log)

      Taç Boy    Taç En  Çanak Boy  Çanak En
0    1.629241  1.252763   0.336472 -1.609438
1    1.589235  1.098612   0.336472 -1.609438
2    1.547563  1.163151   0.262364 -1.609438
3    1.526056  1.131402   0.405465 -1.609438
4    1.609438  1.280934   0.336472 -1.609438
..        ...       ...        ...       ...
145  1.902108  1.098612   1.648659  0.832909
146  1.840550  0.916291   1.609438  0.641854
147  1.871802  1.098612   1.648659  0.693147
148  1.824549  1.223775   1.686399  0.832909
149  1.774952  1.098612   1.629241  0.587787

[150 rows x 4 columns]

In [34]:
indeks = [('ABC', 2016), ('ABC', 2017), ('DEF', 2016), ('DEF', 2017),
          ('XYZ', 2016), ('XYZ', 2017), ('KLM', 2016), ('KLM', 2017)]

fiyatlar = [32.5, 12.3, 24.7, 18.6, 20.3, 7.2, 51.9, 56.2]

hisseler = pd.Series(fiyatlar, index=indeks)

hisseler

(ABC, 2016)    32.5
(ABC, 2017)    12.3
(DEF, 2016)    24.7
(DEF, 2017)    18.6
(XYZ, 2016)    20.3
(XYZ, 2017)     7.2
(KLM, 2016)    51.9
(KLM, 2017)    56.2
dtype: float64

In [35]:
hisseler[('XYZ', 2016): ('KLM', 2017)]

(XYZ, 2016)    20.3
(XYZ, 2017)     7.2
(KLM, 2016)    51.9
(KLM, 2017)    56.2
dtype: float64

In [36]:
indeks = pd.MultiIndex.from_tuples(indeks)
indeks

MultiIndex([('ABC', 2016),
            ('ABC', 2017),
            ('DEF', 2016),
            ('DEF', 2017),
            ('XYZ', 2016),
            ('XYZ', 2017),
            ('KLM', 2016),
            ('KLM', 2017)],
           )

In [37]:
hisseler = pd.Series(fiyatlar, index=indeks)
hisseler

ABC  2016    32.5
     2017    12.3
DEF  2016    24.7
     2017    18.6
XYZ  2016    20.3
     2017     7.2
KLM  2016    51.9
     2017    56.2
dtype: float64

In [38]:
hisseler.index.names = ['Hisse', 'Yıllar']
hisseler

Hisse  Yıllar
ABC    2016      32.5
       2017      12.3
DEF    2016      24.7
       2017      18.6
XYZ    2016      20.3
       2017       7.2
KLM    2016      51.9
       2017      56.2
dtype: float64

In [41]:
hisse_df = hisseler.unstack()
hisse_df

Yıllar  2016  2017
Hisse
ABC     32.5  12.3
DEF     24.7  18.6
KLM     51.9  56.2
XYZ     20.3   7.2

In [42]:
type(hisse_df)

pandas.core.frame.DataFrame

In [43]:
hisse_df.stack()

Hisse  Yıllar
ABC    2016      32.5
       2017      12.3
DEF    2016      24.7
       2017      18.6
KLM    2016      51.9
       2017      56.2
XYZ    2016      20.3
       2017       7.2
dtype: float64

In [44]:
pd.MultiIndex.from_tuples([('x', 1),('x',2), ('y',1), ('y',2)])

MultiIndex([('x', 1),
            ('x', 2),
            ('y', 1),
            ('y', 2)],
           )

In [45]:
pd.MultiIndex.from_arrays([['x', 'x', 'y', 'y'], [1, 2, 1, 2]])

MultiIndex([('x', 1),
            ('x', 2),
            ('y', 1),
            ('y', 2)],
           )

In [46]:
pd.MultiIndex.from_product([['x', 'y'], [1, 2]])

MultiIndex([('x', 1),
            ('x', 2),
            ('y', 1),
            ('y', 2)],
           )

In [47]:
indeks = pd.MultiIndex.from_product([['ABC', 'DEF', 'KLM'], [2016, 2017]]) 
sutunlar = pd.MultiIndex.from_product([['Q1', 'Q2', 'Q3', 'Q4'], ['Hacim', 'Kapanış']])

veri = np.array([10762, 32.5, 12638, 33.5, 13689, 35.2, 18414, 37.4,
                    10688, 12.3, 14348, 13.2, 15924, 15.3, 15243, 17.9,
                    14841, 24.7, 14966, 22.1, 13098, 19.3, 17439, 15.4,
                    15607, 18.6, 16166, 13.4, 10627, 15.1, 13396, 15.3,
                    12565, 20.3, 17469, 21.4, 18964, 22.5, 15187, 23.6,
                    13203,  7.2, 10629,  7.2, 15239,  8.2, 18307,  9.1])
veri = np.reshape(veri, (6, 8))

hisseler = pd.DataFrame(veri, index = indeks, columns = sutunlar)
hisseler

               Q1               Q2               Q3               Q4
            Hacim Kapanış    Hacim Kapanış    Hacim Kapanış    Hacim Kapanış
ABC 2016  10762.0    32.5  12638.0    33.5  13689.0    35.2  18414.0    37.4
    2017  10688.0    12.3  14348.0    13.2  15924.0    15.3  15243.0    17.9
DEF 2016  14841.0    24.7  14966.0    22.1  13098.0    19.3  17439.0    15.4
    2017  15607.0    18.6  16166.0    13.4  10627.0    15.1  13396.0    15.3
KLM 2016  12565.0    20.3  17469.0    21.4  18964.0    22.5  15187.0    23.6
    2017  13203.0     7.2  10629.0     7.2  15239.0     8.2  18307.0     9.1