# Koşullu İfadeler ve Döngüler

In [1]:
5==5

True

In [2]:
True & False

False

In [3]:
True | False

True

In [4]:
if 5 > 4:
    print("Doğru")

Doğru

In [5]:
if 0:
    print("Doğru")

In [6]:
if []:
    print("Doğru")

In [7]:
if "":
    print("Doğru")

In [8]:
if 5:
    print("Doğru")

Doğru

In [9]:
if 0:
    print("Doğru")
else:
    print("yanlış")

yanlış

In [10]:
a=0
while a <= 5:
    print(a)
    #a = a+1
    a +=1

0
1
2
3
4
5

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
liste = ["ali","hasan", "cem", "hüseyin"]

for isim in liste:
    print(isim)

ali
hasan
cem
hüseyin

In [13]:
liste = ["ali","hasan", "cem", "hüseyin"]

for sira, isim in enumerate(liste):
    print(str(sira)+":"+isim)

0:ali
1:hasan
2:cem
3:hüseyin

In [14]:
ulkeler = ["Türkiye", "İtalye", "İngiltere", "Fransa", "İspanya"]
baskentler = ["Ankara", "Roma", "Londra", "Paris", "Madrid"]

ulke_baskent = zip(ulkeler, baskentler)

for sira, veri in enumerate(ulke_baskent):
    ulke, baskent = veri;
    print(sira, ulke, baskent)

0 Türkiye Ankara
1 İtalye Roma
2 İngiltere Londra
3 Fransa Paris
4 İspanya Madrid

In [15]:
notlar = [["Ali", 100], ["Veli", 90], ["Ayşe", 100]]

for i in notlar:
    print(str(i[0]) +"-"+str(i[1]))

Ali-100
Veli-90
Ayşe-100

In [16]:
siniflar = [["İlhan", "Ali"],
            ["Yağız", "Baran", "Tuğçe", "Mehmet"],
            ["Selin", "Umut", "Lara", "Ayten", "Murat"]]

for i, sinif in enumerate(siniflar):
    print("Sınıf: "+ str(i+1))
    for sira, kisi in enumerate(sinif):
        print(str(sira+1)+"-"+ kisi)
    print("------------------")

Sınıf: 1
1-İlhan
2-Ali
------------------
Sınıf: 2
1-Yağız
2-Baran
3-Tuğçe
4-Mehmet
------------------
Sınıf: 3
1-Selin
2-Umut
3-Lara
4-Ayten
5-Murat
------------------

In [17]:
not_listesi = {"İlhan": 75, "Ali": 98, "Mehmet": 83, "Yağız": 99, "Baran": 68, "Özlem": 89, "Ayten": 74}

for ogrenci in not_listesi:
    print(ogrenci, not_listesi[ogrenci])

İlhan 75
Ali 98
Mehmet 83
Yağız 99
Baran 68
Özlem 89
Ayten 74

In [18]:
not_listesi = {"İlhan": 75, "Ali": 98, "Mehmet": 83, "Yağız": 99, "Baran": 68, "Özlem": 89, "Ayten": 74}

for isim, puan in not_listesi.items():
    print(isim +" : "+ str(puan))

İlhan : 75
Ali : 98
Mehmet : 83
Yağız : 99
Baran : 68
Özlem : 89
Ayten : 74

In [19]:
ogrenciler = [
    ("A", "Ali", "0001"), 
    ("A", "Can", "0002"),
    ("A", "Eren", "0003"), 
    ("B", "Ayşe", "0004"), 
    ("B", "İlhan", "0005"), 
    ("B", "Baran", "0006"), 
    ("C", "Mehmet", "0007"), 
    ("C", "Yağız", "0008"), 
    ("C", "Özlem", "0009")]

siniflar = {}

for sinif, ogrenci, numara in ogrenciler:
    if sinif not in siniflar:
        siniflar[sinif] = []
    siniflar[sinif].append((ogrenci, numara))
    
siniflar

{'A': [('Ali', '0001'), ('Can', '0002'), ('Eren', '0003')],
 'B': [('Ayşe', '0004'), ('İlhan', '0005'), ('Baran', '0006')],
 'C': [('Mehmet', '0007'), ('Yağız', '0008'), ('Özlem', '0009')]}

In [20]:
sehir = "İzmir"
yine = iter(sehir)
next(yine)

'İ'

In [21]:
next(yine)

'z'

In [22]:
next(yine)

'm'

In [23]:
next(yine)

'i'

In [24]:
next(yine)

'r'

In [25]:
next(yine)

StopIteration:

In [27]:
sehir = "Mardin"
yine = iter(sehir)

print(*yine)

M a r d i n

In [28]:
range(10)

range(0, 10)

In [29]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [30]:
sayilar = range(10 ,20)

sayi_liste = set(sayilar)

sayi_liste

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [31]:
liste = ["A","B","C","D"]

enum = enumerate(liste)
enum

In [32]:
a = list(enum)
a

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]

In [34]:
liste = ["A","B","C","D"]
enum = enumerate(liste , start=3)
list(enum)

[(3, 'A'), (4, 'B'), (5, 'C'), (6, 'D')]

In [35]:
ulkeler = ["Türkiye", "Japonya", "Amerika", "İspanya", "İtalya"] 
baskentler = ["Ankara", "Tokyo", "New York", "Madrid", "Roma"] 
ulke_baskent = zip(ulkeler, baskentler)
ulke_baskent

In [36]:
ulke, baskent = zip(*ulke_baskent)

In [37]:
ulke

('Türkiye', 'Japonya', 'Amerika', 'İspanya', 'İtalya')

In [38]:
baskent

('Ankara', 'Tokyo', 'New York', 'Madrid', 'Roma')

In [39]:
kareler = []

for i in range(0, 100, 5):
    kareler.append(i**2)
kareler

[0,
 25,
 100,
 225,
 400,
 625,
 900,
 1225,
 1600,
 2025,
 2500,
 3025,
 3600,
 4225,
 4900,
 5625,
 6400,
 7225,
 8100,
 9025]

In [40]:
kareler = [i**2 for i in range(0, 100, 5)]
kareler

[0,
 25,
 100,
 225,
 400,
 625,
 900,
 1225,
 1600,
 2025,
 2500,
 3025,
 3600,
 4225,
 4900,
 5625,
 6400,
 7225,
 8100,
 9025]

In [41]:
liste1 = [2,5,6,7,9]
liste2 = [i*10  for i in liste1]
liste2

[20, 50, 60, 70, 90]

In [42]:
aylar = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"]
kisa_aylar = [ay[0:3] for ay in aylar]
kisa_aylar

['Oca',
 'Şub',
 'Mar',
 'Nis',
 'May',
 'Haz',
 'Tem',
 'Ağu',
 'Eyl',
 'Eki',
 'Kas',
 'Ara']

In [46]:
aylar = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"]
M_ile_baslayanlar = [ay[0:3] for ay in aylar if ay[0:1] == 'M']
M_ile_baslayanlar

['Mar', 'May']

In [47]:
kup_tek = [i**3 for i in range(11) if i % 2 == 1]
kup_tek

[1, 27, 125, 343, 729]

In [48]:
sayilar = [i**3 if i % 2 == 0 else i**2 for i in range(11)]
sayilar

[0, 1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

In [49]:
sehirler = ["İstanbul", "Ankara", "İzmir", "Eskişehir", "Bursa"]
sehir_sozluk = {sehir:len(sehir) for sehir in sehirler}
sehir_sozluk

{'İstanbul': 8, 'Ankara': 6, 'İzmir': 5, 'Eskişehir': 9, 'Bursa': 5}