# Veri Yapıları

## Liste

In [1]:
liste = [1, 2, 3, 4, 5]
liste[2]

3

In [2]:
liste = ["Ali", 123, True, 'A', -5, 12.34,]

In [4]:
liste = [[1, 2, 3], [2, 3], [1]]
liste

[[1, 2, 3], [2, 3], [1]]

In [5]:
type(liste)

list

In [6]:
len(liste)

3

In [8]:
len(liste[1])

2

In [9]:
liste = [123, "abc", True]

type(liste[0]), type(liste[1]), type(liste[2])

(int, str, bool)

In [10]:
liste[-1]

True

In [11]:
liste[-2]

'abc'

In [12]:
liste[1]

'abc'

In [15]:
liste = [1, 2, 3, 4, 5, 6, 7, 8, 9]
liste[3:6]

[4, 5, 6]

In [16]:
liste[0:3]

[1, 2, 3]

In [17]:
liste[:3]

[1, 2, 3]

In [18]:
liste[3:]

[4, 5, 6, 7, 8, 9]

In [20]:
liste[3:8:2]

[4, 6, 8]

In [21]:
notlar = [["Ali", 80], ["Veli", 90], ["Ahmet", 70]]

notlar[0]

['Ali', 80]

In [22]:
notlar[0][1]

80

In [23]:
notlar[1][0]

'Veli'

In [24]:
notlar[2][0] = "Ayşe"

notlar

[['Ali', 80], ['Veli', 90], ['Ayşe', 70]]

In [29]:
notlar = [80, 90, 100, 50, 70, 100]

notlar.index(100)

2

In [30]:
notlar.pop(100)
notlar

IndexError: pop index out of range

In [31]:
notlar.pop(notlar.index(100))
notlar

[80, 90, 50, 70, 100]

In [32]:
liste = [2, 3, 4, 5, 6, 4, 5, 4, 5, 4]
liste.count(4)

4

In [33]:
liste = [12, 23, 34, 56]
liste.append(67)
liste

[12, 23, 34, 56, 67]

In [34]:
liste2 = [78, 89]

liste3 = liste + liste2
liste3

[12, 23, 34, 56, 67, 78, 89]

In [35]:
liste

[12, 23, 34, 56, 67]

In [36]:
liste.extend(liste2)
liste

[12, 23, 34, 56, 67, 78, 89]

In [37]:
del (liste[0])
liste

[23, 34, 56, 67, 78, 89]

In [38]:
liste.remove(89)

In [39]:
liste

[23, 34, 56, 67, 78]

In [40]:
liste = [87, 1, -9, 123, 34, 545]
sorted(liste)

[-9, 1, 34, 87, 123, 545]

In [41]:
liste

[87, 1, -9, 123, 34, 545]

In [43]:
siraliListe = sorted(liste, reverse=True)
siraliListe

[545, 123, 87, 34, 1, -9]

In [44]:
siraliListe.reverse()
siraliListe

[-9, 1, 34, 87, 123, 545]

In [45]:
liste = [1, 2, 3]

sayilar = liste
sayilar

[1, 2, 3]

In [46]:
liste[0] = 10
sayilar

[10, 2, 3]

In [47]:
sayilar = liste[:]
sayilar

[10, 2, 3]

In [48]:
liste[0] = 2
sayilar

[10, 2, 3]

## Tuple

In [1]:
tuple = ("123", 123, True, 5.34)
tuple

('123', 123, True, 5.34)

In [2]:
tuple[1:3]

(123, True)

In [3]:
tuple[0] = "selam"

TypeError: 'tuple' object does not support item assignment

In [4]:
tuple = (1, 2)
a, b = tuple
a

1

In [5]:
b

2

In [6]:
tuple = (7, 8, 9)
a, b = tuple

ValueError: too many values to unpack (expected 2)

## SET

In [7]:
liste = ["Ali", "Veli", "Ali", "Ayşe", "Veli"]

isimler = set(liste)
isimler

{'Ali', 'Ayşe', 'Veli'}

In [8]:
isimler.add("Zeynep")
isimler

{'Ali', 'Ayşe', 'Veli', 'Zeynep'}

In [9]:
isimler.add("Ali")
isimler

{'Ali', 'Ayşe', 'Veli', 'Zeynep'}

In [10]:
isimler.update("Ahmet", "Fatma")
isimler

{'A', 'Ali', 'Ayşe', 'F', 'Veli', 'Zeynep', 'a', 'e', 'h', 'm', 't'}

In [11]:
liste = ["Ali", "Veli", "Ali", "Ayşe", "Veli"]

isimler = set(liste)
isimler

{'Ali', 'Ayşe', 'Veli'}

In [12]:
ekListe = ["Ahmet", "Fatma"]
isimler.update(ekListe)
isimler

{'Ahmet', 'Ali', 'Ayşe', 'Fatma', 'Veli'}

In [13]:
isimler.discard("Fatma")
isimler

{'Ahmet', 'Ali', 'Ayşe', 'Veli'}

In [14]:
isimler.pop()
isimler

{'Ali', 'Ayşe', 'Veli'}

In [15]:
A = {1, 2, 3, 4, 5}
B = {1, 4, 5, 6, 7}

C = A.union(B)

C

{1, 2, 3, 4, 5, 6, 7}

In [16]:
C = A.intersection(B)

C

{1, 4, 5}

In [17]:
C = A.difference(B)

C

{2, 3}

In [18]:
C = B.difference(A)

C

{6, 7}

## Dictionary

In [19]:
hisseler = {"AAA": 23.23, "BBB": 34.56, "CCC": 56.34}
hisseler

{'AAA': 23.23, 'BBB': 34.56, 'CCC': 56.34}

In [20]:
"AAA" in hisseler

True

In [21]:
"DDD" in hisseler

False

In [22]:
hisseler["BBB"]

34.56

In [23]:
hisseler["DDD"] = 34.67
hisseler

{'AAA': 23.23, 'BBB': 34.56, 'CCC': 56.34, 'DDD': 34.67}

In [24]:
hisseler["EEE"]

KeyError: 'EEE'

In [25]:
hisseler.get("EEE")

In [26]:
hisseler2 = {"FFF": 34.45, "GGG": 67.67}

hisseler.update(hisseler2)
hisseler

{'AAA': 23.23,
 'BBB': 34.56,
 'CCC': 56.34,
 'DDD': 34.67,
 'FFF': 34.45,
 'GGG': 67.67}

In [27]:
del (hisseler["FFF"])

In [28]:
hisseler

{'AAA': 23.23, 'BBB': 34.56, 'CCC': 56.34, 'DDD': 34.67, 'GGG': 67.67}

In [29]:
hisseler.pop("GGG")
hisseler

{'AAA': 23.23, 'BBB': 34.56, 'CCC': 56.34, 'DDD': 34.67}

In [30]:
del (hisseler["FFF"])

KeyError: 'FFF'

In [32]:
hisseler.pop("GGG", "eleman bulunamadı")

'eleman bulunamadı'

In [33]:
hisseler.get("GGG", "eleman bulunamadı")

'eleman bulunamadı'

In [34]:
hisseler

{'AAA': 23.23, 'BBB': 34.56, 'CCC': 56.34, 'DDD': 34.67}

In [35]:
hisseler = {'AAA': 23.23, 'BBB': 34.56,
            'CCC': 56.34, 'DDD': 34.67, 'CCC': 00.00}

In [36]:
hisseler["CCC"]

0.0

In [37]:
hisseler

{'AAA': 23.23, 'BBB': 34.56, 'CCC': 0.0, 'DDD': 34.67}

In [38]:
hisseler.keys()

dict_keys(['AAA', 'BBB', 'CCC', 'DDD'])

In [39]:
type(hisseler.keys())

dict_keys

In [40]:
hisseler.values()

dict_values([23.23, 34.56, 0.0, 34.67])

In [41]:
hisseler.items()

dict_items([('AAA', 23.23), ('BBB', 34.56), ('CCC', 0.0), ('DDD', 34.67)])

In [42]:
hisseler = {
    "banka":
        {
            "AAA": 12,
            "BBB": 14,
            "CCC": 15
        },
    "otomotiv":
        {
            "DDD": 34,
            "TTT": 34
        },
    "teknoloji":
        {
            "TTT": 56
        }
}

In [43]:
hisseler["otomotiv"]["DDD"]

34